@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,

.app {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif, 'Montserrat';
  margin: 0px;
  background-color:#121212;
}


/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */

::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle on Hover */

::-webkit-scrollbar-track:hover {
  background: #555;
}